MLFLOW_TRACKING_URI=http://localhost:5000/
# MLFLOW_URL=http://localhost:5000/

PORT=8000
LISTEN_ADDRESS=0.0.0.0
TIMEOUT=30
BASELINE_INTERVAL_SECONDS=3600
MLFLOW_HTTP_REQUEST_TIMEOUT=30
MLFLOW_HTTP_REQUEST_MAX_RETRIES=3
LOG_LEVEL=INFO
LOG_FORMAT=text

# Optional MLflow basic authentication
# MLFLOW_TRACKING_USERNAME=name.lastname@example.com
# MLFLOW_TRACKING_PASSWORD=mlflow_api_key
